<!DOCTYPE html>
<html lang="en">

<head>
  <title>OpenUTM Flight Launchpad</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="icon" href="/assets/img/favicon.png">
  <link href='https://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>

  <link type="text/css" rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" href="/assets/css/bootstrap-icons.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/base.css">

  <link rel="stylesheet" href="/assets/css/launchpad/leaflet.css">
  <link rel="stylesheet" href="/assets/css/launchpad/launchpad-style.css">
  <link rel="stylesheet" href="/assets/js/humane/flatty.css">

</head>

<body>

  <%- include('navigation') -%>

    <div class="container">

      <br>
      <div class="row">
        <div class="col-12">
          
            <h4>Oops! Something went wrong.</h4>
            <p><%= message || "An unexpected error occurred." %></p>
            <% if (error && error.status) { %>
            <p>Status: <%= error.status %></p>
            <% } %>
            <% if (error && error.stack) { %>
            <pre><%= error.stack %></pre>
            <% } %>
            <a href="/">Go back home</a>
        
        </div>
      </div>
    </div>

    <script type="application/javascript" src="/assets/js/jquery/jquery.min.js" charset="utf-8"></script>
    <script type="application/javascript" src="/assets/js/launchpad/moment.min.js" charset="utf-8"></script>
    <script type="application/javascript" src="/assets/js/bootstrap/bootstrap.bundle.min.js" charset="utf-8"></script>
    
    <%- include('footer') -%>